<?php
/**
 * Template for display main and only page
 */ ?>

<h2>Converter</h2>
<hr>
<div data-bind="scope: 'converter'">
    <label for="currFrom">RUB:</label>
    <input id="currFrom" type="text" data-bind="textInput: currFrom">
    <button data-bind="click: getRate" id="button">Convert</button>
    <span data-bind="text: error" class="error"></span>
    <div style="display: none" id="currToContainer">
        <label for="currTo">PLN:</label>
        <input id="currTo" type="text" disabled data-bind="value: currTo">
    </div>
</div>
<script type="text/x-magento-init">
    {
        "*": {
            "Magento_Ui/js/core/app": {
                "components": {
                    "converter": {
                        "component": "JanuszWitrykus_CurrencyConverter/js/converter"
                    }
                }
            }
        }
    }
</script>
<script>
    require([
        'JanuszWitrykus_CurrencyConverter/js/model/url-manager'
    ], function(urlManager) {
        urlManager.storeCode = "<?php echo $block->getStoreCode(); ?>"
    });
</script>

