.convert-main {
    h2 {
        font-weight: bold;
    }
    input {
        width: auto;
    }
    button {
        margin: 10px;
    }
    span.error {
        display: block;
        color: red;
    }
}
